<footer class="footer container">
  <div class="footer-container">
    <p class="footer-text">
      <span class="footer-copyright"> &copy;</span> 2024 | All Rights Reserved |
    </p>
    <p class="footer-text">
      Developed with

      <svg class="heart" width="14px" height="13px">
        <use href="./img/icons.svg#icon-heart"></use>
      </svg>
      by
      <button class="footer-btn" id="our-team-btn">GoIT Students</button>
    </p>
  </div>
</footer>

<!----------- FOOTER - MODAL ----------->

<div class="team is-closed">
  <div class="team-window container">
    <button class="team-close-btn" type="button">
      <svg class="team-close-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="team-title">Script Warriors</h2>

    <ul class="team-list">
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="./img/team/pawel-p.jpg"
            alt="Paweł Przytomski"
            width="200"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Paweł Przytomski</h2>
          <p class="team-function">Team Lead</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/pawe%C5%82-przytomski-989957234/"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-linkedin-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/przytop"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-github-mark"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="./img/team/urszula-b.jpg"
            alt="Urszula Baranowska"
            width="200"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Urszula Baranowska</h2>
          <p class="team-function">Scrum Master</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/urszula-baranowska-b-polska/"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-linkedin-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/UrszulaBaranowska"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-github-mark"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="./img/team/karolina-s.jpg"
            alt="Karolina Skawińska"
            width="200"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Karolina Skawińska</h2>
          <p class="team-function">Developer</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/karolina-skawi%C5%84ska-a1b69521a/"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-linkedin-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/KarolinaSkawinska"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-github-mark"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img top"
            loading="lazy"
            src="./img/team/bartosz-k.jpg"
            alt="Bartosz Kucharuk"
            width="200"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Bartosz Kucharuk</h2>
          <p class="team-function">Developer</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/bartosz-kucharuk-676260320/"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-linkedin-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/bartoszkucharuk"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-github-mark"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img top"
            loading="lazy"
            src="./img/team/adrian.jpg"
            alt="Adrian Dobrowolski"
            width="200"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Adrian Dobrowolski</h2>
          <p class="team-function">Developer</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/adrian-dobrowolski-b94838287/"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-linkedin-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/Spudowski"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-github-mark"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="./img/team/szymon-p.jpg"
            alt="Szymon Podbielski"
            width="200"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Szymon Podbielski</h2>
          <p class="team-function">Developer</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-linkedin-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/Szyszeekk"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-github-mark"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="./img/team/magda-a.jpg"
            alt="Magdalena Antkowiak"
            width="200"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Magdalena Antkowiak</h2>
          <p class="team-function">Developer</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/magdalena-antkowiak-712580321/"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-linkedin-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/MagdalenaAntkowiak"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-github-mark"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="./img/team/maciej-b.jpg"
            alt="Maciej"
            width="200"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Maciej Broniarski</h2>
          <p class="team-function">Developer</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-linkedin-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/maciejbr"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-github-mark"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="./img/team/magda-l.jpg"
            alt="Magdalena Liśkiewicz"
            width="200"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Magdalena Liśkiewicz</h2>
          <p class="team-function">Developer</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/magdalena-li%C5%9Bkiewicz-671a62177/"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-linkedin-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/MagdaLiskiewicz"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-github-mark"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
