<footer class="footer container">
  <div class="footer-container ">
    <p class="footer-text">
      <span class="footer-copyright"> &copy;</span> 2024 | All Rights Reserved |
    </p>
    <p class="footer-text">
      Developed with

      <svg class="heart" width="14px" height="13px">
        <use href=" "></use>
      </svg>
      by
      <button class="footer-btn" id="our-team-btn">GoIT Students</button>
    </p>
  </div>
</footer>
  
<!----------- FOOTER - MODAL ----------->

<div class="team is-hidden">
  <div class="team-window container">
    <button class="team-close-btn" type="button">
      <svg class="team-close-icon" width="24" height="24">
        <use href=" "></use>
      </svg>
    </button>
    <h2 class="team-title">Script Warriors</h2>

    <ul class="team-list">
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            srcset=""
            src=" "
            alt="Piotr Nowak"
            width="240"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Piotr Nowak</h2>
          <p class="team-function">Team Lead</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link-linkedin"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link-github"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            srcset=""
            src=" "
            alt="Piotr Nowak"
            width="240"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Piotr Nowak</h2>
          <p class="team-function">Team Lead</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link-linkedin"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link-github"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            srcset=""
            src=" "
            alt="Piotr Nowak"
            width="240"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Piotr Nowak</h2>
          <p class="team-function">Team Lead</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link-linkedin"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link-github"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            srcset=""
            src=" "
            alt="Piotr Nowak"
            width="240"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Piotr Nowak</h2>
          <p class="team-function">Team Lead</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link-linkedin"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link-github"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            srcset=""
            src=" "
            alt="Piotr Nowak"
            width="240"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Piotr Nowak</h2>
          <p class="team-function">Team Lead</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link-linkedin"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link-github"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            srcset=""
            src=" "
            alt="Piotr Nowak"
            width="240"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Piotr Nowak</h2>
          <p class="team-function">Team Lead</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link-linkedin"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link-github"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            srcset=""
            src=" "
            alt="Piotr Nowak"
            width="240"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Piotr Nowak</h2>
          <p class="team-function">Team Lead</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link-linkedin"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link-github"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            srcset=""
            src=" "
            alt="Piotr Nowak"
            width="240"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Piotr Nowak</h2>
          <p class="team-function">Team Lead</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link-linkedin"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link-github"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            srcset=""
            src=" "
            alt="Piotr Nowak"
            width="240"
          />
        </div>
        <div class="team-description">
          <h2 class="team-member">Piotr Nowak</h2>
          <p class="team-function">Team Lead</p>
          <ul class="team-socials-list">
            <li class="team-socials-icon">
              <a
                class="team-link-linkedin"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="team-link-github"
                target="_blank"
                rel="noopener noreferrer"
                href=" "
              >
                <svg class="team-icon" width="25" height="25">
                  <use href=" "></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
