<section class="hero">
    <div class="hero-text-cont">
        <h2 class="title">Dungeons & Dragons: Honor Among Thieves</h2>
        <div class="star-rating">
            <img src="./img/star.svg" alt="star">
            <img src="./img/star.svg" alt="star">
            <img src="./img/star-half.svg" alt="star-half">
            <img src="./img/star-outline.svg" alt="star-outline">
            <img src="./img/star-outline.svg" alt="star-outline">
        </div>
        <p class="desc">A charming thief and a band of unlikely adventurers undertake an epic heist to retrieve a lost relic, but things go dangerously awry when they run afoul of the wrong people.</p>
        <div class="hero-btn">
            <button class="watch-btn">Watch trailer</button> 
            <button class="details-btn">More details</button>
        </div>
    </div>
</section>
