<section class="hero container" id="hero-section">
    <div class="hero-text-cont cinema-cont" id="text-cont">
        <h2 class="cinema-title">Create Your Dream Cinema</h2>
        <p class="cinema-desc">Is a guide to designing a personalized movie theater experience with the 
            right equipment, customized decor, and favorite films. This guide helps you bring the cinema 
            experience into your own home with cozy seating, dim lighting, and movie theater snacks.</p>
    </div>
</section>
