<section class="my-library-background">
  <div class="my-library-main-section container">
    <form class="genre-form">
      <select id="genre" class="genre-select"></select>
    </form>
    <ul class="my-library-movie-list"></ul>

    <button class="my-library-button">Load more</button>
  </div>
  <div class="my-library-sorry">
    <p class="my-library-sorry-message">
      OOPS... <br />
      We are very sorry! <br />
      You don't have any movies at your library.
    </p>
    <button id=my-library-button-search class="my-library-button" onclick="window.location.href='./catalog.html'">
      Search movie
    </button>
  </div>
</section>
