<section class="my-catalog-section container">
  <div class="search-section">
    <form class="search-form">
      <input
        class="input-text"
        type="text"
        name="query"
        autocomplete="off"
        placeholder="Search"
        required
      />
      <select class="input-year" required>
        <option value="2023" class="year">2023</option>
        <option value="2022" class="year">2022</option>
        <option value="2021" class="year">2021</option>
        <option value="2020" class="year">2020</option>
        <option value="2019" class="year">2019</option>
        <option value="2018" class="year">2018</option>
        <option value="2017" class="year">2017</option>
        <option value="2016" class="year">2016</option>
        <option value="2015" class="year">2015</option>
      </select>
    </form>
    <button class="catalog-button" type="submit"></button>
  </div>
  <ul class="catalog-movie-list">
    <li class="catalog-movie-list-item">
        <div class="catalog-gradient"></div>
        <div class="catalog-movie">
          <span class="catalog-movie-title">Lucifer</span><br />
          <span class="catalog-movie-genres">Detective, Fantasy | 2016
            <span class="stars">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star-half.svg" alt="star" class="star">
              </span>
          </span>
        </div></a
      >
    </li>

    <li class="catalog-movie-list-item">
        <div class="catalog-gradient"></div>
        <div class="catalog-movie">
          <span class="catalog-movie-title">Lucifer</span><br />
          <span class="catalog-movie-genres">Detective, Fantasy | 2016
            <span class="stars">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star-half.svg" alt="star" class="star">
              </span>
          </span>
        </div></a
      >
    </li>
    <li class="catalog-movie-list-item">
        <div class="catalog-gradient"></div>
        <div class="catalog-movie">
          <span class="catalog-movie-title">Lucifer</span><br />
          <span class="catalog-movie-genres">Detective, Fantasy | 2016
            <span class="stars">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star-outline.svg" alt="star" class="star">
              </span>
          </span>
        </div></a
      >
    </li>
    <li class="catalog-movie-list-item">
        <div class="catalog-gradient"></div>
        <div class="catalog-movie">
          <span class="catalog-movie-title">Lucifer</span><br />
          <span class="catalog-movie-genres">Detective, Fantasy | 2016
            <span class="stars">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              </span>
          </span>
        </div></a
      >
    </li>
    <li class="catalog-movie-list-item">
        <div class="catalog-gradient"></div>
        <div class="catalog-movie">
          <span class="catalog-movie-title">Lucifer</span><br />
          <span class="catalog-movie-genres">Detective, Fantasy | 2016
            <span class="stars">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star.svg" alt="star" class="star">
              <img src="./img/star-half.svg" alt="star" class="star">
              </span>
          </span>
        </div></a
      >
    </li>
    <li class="catalog-movie-list-item">
        <div class="catalog-gradient"></div>
        <div class="catalog-movie">
          <span class="catalog-movie-title">Lucifer</span><br />
          <span class="catalog-movie-genres">Detective, Fantasy | 2016
<span class="stars">
<img src="./img/star.svg" alt="star" class="star">
<img src="./img/star.svg" alt="star" class="star">
<img src="./img/star.svg" alt="star" class="star">
<img src="./img/star.svg" alt="star" class="star">
<img src="./img/star-outline.svg" alt="star" class="star">
</span>
          </span>
        </div></a
      >
    </li>
  </ul>
  <p class="catalog-sorry-message">
    OOPS... <br />
    We are very sorry! <br />
    We don't have any results matching your search.
  </p>
  <div class="catalog-pages">
    <button type="button" class="arrow-button"></button>
    <button type="button" class="page-number-button">01</button>
    <button type="button" class="page-number-button">02</button>
    <button type="button" class="page-number-button">03</button>
    <p>...</p>
    <button type="button" class="page-number-button">24</button>
    <button type="button" class="arrow-button"></button>
  </div>
</section>
