.hero {
    width: 320px;
    height: 428px;
    background-image:
        linear-gradient(to left, rgba(17, 17, 17, 0) 10%, rgba(17, 17, 17, 1) 66%),
        url("/img/hero-phone-2.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

.hero-default {
    width: 320px;
    height: 429px;
    background-image:
        url("/img/hero-phone.png");
    margin-bottom: 40px;
}

.hero-text-cont {
    width: 242px;
    height: 286px;
    padding-top: 40px;
}

.default-text-cont {
    width: 242px;
    height: 286px;
    padding-top: 88px;
}

.cinema-cont {
    width: 199px;
    height: 260px;
    padding-top: 40px
}

.title,
.cinema-title {
    width: 232px;
    padding-bottom: 12px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;
    color: var(--white-color);
}

.title-default {
    width: 199px;
    padding-bottom: 8px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;
    color: var(--white-color);
}

.desc-default {
    width: 166px;
    height: 80px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white-color);
}

.star-rating {
    display: flex;
    gap: 4px;
    padding-bottom: 20px;
}

.desc {
    width: 177px;
    height: 66px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white-color);
}

.cinema-desc {
    width: 249px;
    height: 112px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    text-overflow: ellipsis;
    color: var(--white-color);
}

.watch-btn,
.get-started-btn {
    width: 117px;
    height: 38px;
    border-radius: 74px;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
    text-align: center;
    color: #111111;
    position: relative;
    transition: all .2s;
}

.watch-btn:active,
.get-started-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.details-btn {
    width: 117px;
    height: 38px;
    border-radius: 74px;
    border: 1px solid #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
    text-align: center;
    transition: all .2s;
    position: relative;
    color: var(--white-color);
}

.details-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.hero-btn {
    width: 242px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {

    .hero {
        width: 768px;
        height: 432px;
        background-image:
            linear-gradient(270deg, rgba(89, 130, 252, 0) 30%, rgba(0, 0, 0, 1) 62%),
            url("/img/hero-tablet-2.png");
        background-position: -95%;
        margin-bottom: 80px;
    }

    .hero-default {
        width: 768px;
        height: 432px;
        background-image: url("/img/hero-desktop.png");
        background-position: 80%;
        margin-bottom: 80px;
    }
    
    .title {
        width: 482px;
        padding-bottom: 16px;
        font-size: 44px;
        line-height: 51.56px;
    }

    .title-default {
        width: 332px;
        height: 104px;
        font-size: 44px;
        line-height: 51.56px;
        margin-bottom: 16px;
    }

    .desc-default {
        width: 357px;
        height: 64px;
        font-size: 14px;
        line-height: 16.41px;
        overflow: visible;
        margin-bottom: 32px;
    }

    .default-text-cont {
        width: 357px;
        height: 176px;
    }

    .cinema-cont {
        width: 357px;
        height: 192px;
    }

    .cinema-title {
        width: 332px;
        height: 104px;
        font-size: 44px;
        line-height: 51.56px;
        text-align: left;
        margin-bottom: 8px;
    }

    .cinema-desc {
        width: 357px;
    }
    
    .star-rating img {
        width: 24px;
    }
    
    .desc {
        width: 254px;
        height: 49px;
        margin-bottom: 28px;
        font-size: 14px;
        line-height: 16.41px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .hero-btn {
        width: 291px;
        display: flex;
        justify-content: space-between;
    }

    .watch-btn,
    .details-btn {
        width: 139px;
        height: 48px;
    }
       
    .watch-btn:active,
    .details-btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
} 

@media (min-width: 1280px) {

    .hero {
        width: 100vw;
        height: 720px;
        background-image:
            linear-gradient(270deg, rgba(89, 130, 252, 0) 10%, rgba(0, 0, 0, 1) 62%),
            url("/img/hero-desktop-2.png");
        background-size: cover;
        background-position: -95%;

    }

    .hero-default {
        width: 100vw;
        height: 720px;
        background-image: url("/img/hero-desktop.png");
        background-size: cover;
        background-position: -95%;
        margin-bottom: 80px;
    }
    
    .hero-text-cont {
        padding-left: 135px;
    }

    .title-default {
        width: 464px;
        height: 150px;
        font-size: 64px;
        line-height: 75px;
    }

    .desc-default {
        width: 464px;
        height: 76px;
        font-size: 16px;
        line-height: 18.75px;
    }

    .default-text-cont {
        width: 357px;
        height: 176px;
        padding-left: 135px;
    }

    .cinema-cont {
        width: 464px;
        height: 242px;
        padding-top: 158px;
    }
    
    .cinema-title {
        width: 464px;
        height: 150px;
        font-size: 64px;
        line-height: 75px;
    }
    
    .cinema-desc {
        width: 464px;
        height: 76px;
        font-size: 16px;
        line-height: 18.75px;
        
    }
    
    .title {
        width: 670px;
        padding-bottom: 16px;
        font-size: 64px;
        line-height: 75px;
    }

    .star-rating img {
        width: 24px;
    }
    
    .desc {
        width: 367px;
        height: 58px;
        margin-bottom: 36px;
        font-size: 16px;
        line-height: 18.75px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .hero-btn {
        width: 291px;
        display: flex;
        justify-content: space-between;
    }
}