html[data-theme="light"] .modal-oopsie {
    background-color: var(--white-color);
    color: var(--black-color);
    box-shadow: 1px 1px 14px 4px gray;
}

html[data-theme="light"] .modal-oopsie button svg {
    stroke: var(--black-color);
    transition: all .7s ease-in-out;
}

html[data-theme="dark"] .modal-oopsie {
    background-color: var(--black-color);
    color: var(--white-color);
    box-shadow: 1px 1px 14px 4px #FF6B086B;
}

html[data-theme="dark"] .modal-oopsie button svg {
    stroke: var(--white-color);
    transition: all .7s ease-in-out;
}

.modal-oopsie {
    position: relative;
    top: -200px;
    width: 280px;
    height: 289px;
    background-color: #111111;
    border-radius: 16px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .7s ease-in-out;
}

.fade-in {
    display: flex;
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.modal-oopsie p {
    width: 214px;
    height: 65px;
}

.modal-oopsie button svg {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
    stroke: var(--white-color);
}

.image-cont {
    content:url("/img/oops-mobile@2x.png");
    content:url("/img/oops-mobile.png");
    width: 159px;
    height: 153px;
}

.hero {
    width: 320px;
    height: 428px;
    background-image:
        linear-gradient(to left, rgba(17, 17, 17, 0) 10%, rgba(17, 17, 17, 1) 66%),
        url("/img/hero-2-mobile@2x.jpg"),
        url("/img/hero-2-mobile.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

.hero-default {
    width: 320px;
    height: 429px;
    background-image:
        url("/img/hero-1-mobile@2x.jpg"),
        url("/img/hero-1-mobile.jpg");
    margin-bottom: 40px;
}

.hero-text-cont {
    width: 242px;
    height: 286px;
    padding-top: 60px;
}

.default-text-cont {
    width: 242px;
    height: 286px;
    padding-top: 88px;
}

.cinema-cont {
    width: 199px;
    height: 260px;
    padding-top: 66px
}

.title,
.cinema-title {
    width: 232px;
    padding-bottom: 12px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;
    color: var(--white-color);
}

.title-default {
    width: 199px;
    padding-bottom: 8px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;
    color: var(--white-color);
}

.desc-default {
    width: 166px;
    height: 80px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white-color);
}

.star-rating {
    display: flex;
    gap: 4px;
    padding-bottom: 20px;
}

.desc {
    width: 177px;
    height: 66px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white-color);
}

.cinema-desc {
    width: 249px;
    height: 112px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    text-overflow: ellipsis;
    color: var(--white-color);
}

.watch-btn,
.get-started-btn {
    width: 117px;
    height: 38px;
    border-radius: 74px;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
    text-align: center;
    color: #111111;
    position: relative;
    transition: all .2s;
}

.watch-btn:active,
.get-started-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.details-btn {
    width: 117px;
    height: 38px;
    border-radius: 74px;
    border: 1px solid #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
    text-align: center;
    transition: all .2s;
    position: relative;
    color: var(--white-color);
}

.details-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.hero-btn {
    width: 242px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {

    .modal-oopsie {
        width: 609px;
        height: 400px;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    
    .modal-oopsie p {
        width: 321px;
        height: 92px;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.13px;
        text-align: left;
        margin-left: 44px;
        padding-top: 132px;
    }
    
    .modal-oopsie button {
        position: absolute;
        top: 24px;
        right: 24px;
    }

    .modal-oopsie button img {
        width: 24px;
        height: 24px;
    }
    
    .image-cont {
        content:url("/img/oops-tablet@2x.png");
        content:url("/img/oops-tablet.png");
        width: 296px;
        height: 260px;
        position: absolute;
        bottom: 16px;
        right: 10px;
    }

    .hero {
        width: 768px;
        height: 432px;
        background-image:
            linear-gradient(270deg, rgba(89, 130, 252, 0) 30%, rgba(0, 0, 0, 1) 62%),
            url("/img/hero-2-tablet@2x.jpg"),
            url("/img/hero-2-tablet.jpg");
        background-position: -95%;
        margin-bottom: 80px;
    }

    .hero-text-cont {
        padding-top: 45px;
    }

    .hero-default {
        width: 768px;
        height: 432px;
        background-image: url("/img/hero-1-tablet@2x.jpg"), url("/src/img/hero-1-tablet.jpg");
        background-position: 80%;
        margin-bottom: 80px;
    }
    
    .title {
        width: 482px;
        padding-bottom: 16px;
        font-size: 44px;
        line-height: 51.56px;
    }

    .title-default {
        width: 332px;
        height: 104px;
        font-size: 44px;
        line-height: 51.56px;
        margin-bottom: 16px;
    }

    .desc-default {
        width: 357px;
        height: 64px;
        font-size: 14px;
        line-height: 16.41px;
        overflow: visible;
        margin-bottom: 32px;
    }

    .default-text-cont {
        width: 357px;
        height: 176px;
    }

    .cinema-cont {
        width: 357px;
        height: 192px;
        padding-top: 86px;
    }

    .cinema-title {
        width: 332px;
        height: 104px;
        font-size: 44px;
        line-height: 51.56px;
        text-align: left;
        margin-bottom: 8px;
    }

    .cinema-desc {
        width: 357px;
    }
    
    .star-rating img {
        width: 24px;
    }
    
    .desc {
        width: 254px;
        height: 49px;
        margin-bottom: 28px;
        font-size: 14px;
        line-height: 16.41px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .hero-btn {
        width: 291px;
        display: flex;
        justify-content: space-between;
    }

    .watch-btn,
    .details-btn {
        width: 139px;
        height: 48px;
    }
       
    .watch-btn:active,
    .details-btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
} 

@media (min-width: 1280px) {

    .modal-oopsie {
        width: 700px;
        height: 400px;
        margin: auto;
        margin-top: 120px;
        z-index: 3;
    }
    
    .modal-oopsie p {
        height: 100px;
        margin-left: 50px;
        padding-top: 150px;
    }
    
    .image-cont {
        content:url("/img/oops-desktop@2x.png");
        content:url("/img/oops-desktop.png");
        width: 363px;
        height: 318px;
        bottom: 5px;
        right: 0px;
    }

    .hero {
        width: 100vw;
        height: 720px;
        background-image:
            linear-gradient(270deg, rgba(89, 130, 252, 0) 30%, rgba(0, 0, 0, 1) 62%),
            url("/img/hero-2-desktop@2x.jpg"),
            url("/img/hero-2-desktop.jpg");
        background-size: cover;
        background-position: -95%;

    }

    .hero-default {
        width: 100vw;
        height: 720px;
        background-image: url("/img/hero-1-desktop@2x.jpg"), url("/img/hero-1-desktop.jpg");
        background-size: cover;
        background-position: -95%;
        margin-bottom: 80px;
    }
    
    .hero-text-cont {
        padding-top: 178px;
        padding-left: 135px;
    }

    .title-default {
        width: 464px;
        height: 150px;
        font-size: 64px;
        line-height: 75px;
    }

    .desc-default {
        width: 464px;
        height: 76px;
        font-size: 16px;
        line-height: 18.75px;
    }

    .default-text-cont {
        width: 357px;
        height: 176px;
        padding-left: 135px;
    }

    .cinema-cont {
        width: 464px;
        height: 242px;
        padding-top: 196px;
        padding-left: 117px;
    }
    
    .cinema-title {
        width: 464px;
        height: 150px;
        font-size: 64px;
        line-height: 75px;
    }
    
    .cinema-desc {
        width: 464px;
        height: 76px;
        font-size: 16px;
        line-height: 18.75px;
        
    }
    
    .title {
        width: 670px;
        padding-bottom: 16px;
        font-size: 64px;
        line-height: 75px;
    }

    .star-rating img {
        width: 24px;
    }
    
    .desc {
        width: 367px;
        height: 58px;
        margin-bottom: 36px;
        font-size: 16px;
        line-height: 18.75px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .hero-btn {
        width: 291px;
        display: flex;
        justify-content: space-between;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}