:root {
  --black-color: #111111;
  --orange-color: #f87719;
  --loader-width: 5vmin;
}

loader {
  display: none;
  position: relative;
  width: 20vmin;
  aspect-ratio: 1;
  background: conic-gradient(transparent, transparent 20%, #f87719);
  border-radius: 50%;
  margin: auto;
  animation: spin 0.5s linear infinite;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
  }

  &::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to left, #f87719, 50%, transparent 50%);
    width: var(--loader-width);
    aspect-ratio: 1;
  }

  &::after {
    inset: var(--loader-width);
    background: var(--black-color);
  }
}

.loader.active {
  display: block;
}

@keyframes spin {
  to {
    transform: rotate(2turn);
  }
}
