/* MODAL AREA */
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.25);
  transition: opacity 500ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  display: flex;
  z-index: 2;
  flex-direction: column;
  position: absolute;
  pointer-events: yes;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  max-height: 847px;
  padding: 52px 16px;
  background-color: var(--black-color);
  border-radius: 16px;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
}

html[data-theme="light"] .modal-window  {
  color: var(--grey-white-theme-color);
  background-color: var(--white-color);
  border-color: var(--grey-white-theme-color);
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);
}

/* @MEDIA TABLET */
@media screen and (min-width: 704px) {
  .modal-window {
    flex-direction: row;
    width: 704px;
    height: 488px;
    padding: 44px;
    gap: 16px;
  }
}

/* @MEDIA DESKTOP */
@media screen and (min-width: 846px) {
  .modal-window {
    width: 846px;
    height: 598px;
    padding: 60px;
    gap: 20px;
  }
}

.modal-btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 20px;
  right: 16px;
  padding: 6.75px;
  background-color: inherit;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}


.modal-btn-close:hover {
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  transition: box-shadow 250ms ease-in-out;
}

html[data-theme="light"] .modal-btn-close:hover {
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);
}

/* @MEDIA TABLET */
@media screen and (min-width: 704px) {
  .modal-btn-close {
    top: 24px;
    right: 24px;
  }
}

/* @MEDIA DESKTOP */
@media screen and (min-width: 846px) {
  .modal-btn-close {
    top: 40px;
    right: 40px;
  }
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-white);
}

.modal-btn-close-icon {
  transition: fill 250ms ease-in-out;
  fill: var(--white-color);
}

html[data-theme="light"] .modal-btn-close-icon {
  fill: var(--black-color);
}


.modal-film-poster {
  width: 248px;
  height: 315px;
  border-radius: 5px;
  background: url('path_to_image');
  object-fit: cover;
  margin-bottom: 22px;
}

/* @MEDIA TABLET */
@media screen and (min-width: 704px) {
  .modal-film-poster {
    width: 294px;
    height: 400px;
    margin: 0;
  }
}

/* @MEDIA DESKTOP */
@media screen and (min-width: 846px) {
  .modal-film-poster {
    width: 375px;
    height: 478px;
    margin: 0;
  }
}

.modal-film-infos {
  /* border: 1px dashed red; */
  max-height: 100%;
}

/* @MEDIA TABLET */
@media screen and (min-width: 704px) {
  .modal-film-infos {
    width: 301px;
    height: 400px;
    margin: 0;
  }
}

/* @MEDIA DESKTOP */
@media screen and (min-width: 846px) {
  .modal-film-infos {
    width: 375px;
    height: 478px;
    margin: 0;
  }
}

.modal-film-title {
  min-height: 23px;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  color: var(--white-color);
  margin-bottom: 29px;
}

html[data-theme="light"] .modal-film-title {
  color: var(--black-color);
}

/* @MEDIA TABLET */
@media screen and (min-width: 704px) {
  .modal-film-title {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

/* @MEDIA DESKTOP */
@media screen and (min-width: 846px) {
  .modal-film-title {
    line-height: 1.33;
    margin-bottom: 28px;
  }
}

.modal-film-stats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  /* border: 1px solid blue; */
}

/* @MEDIA TABLET */
@media screen and (min-width: 704px) {
  .modal-film-stats {
    margin-bottom: 16px;
  }
}

/* @MEDIA DESKTOP */
@media screen and (min-width: 846px) {
  .modal-film-stats {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.33;
  }
}

.modal-film-tab-row {
  text-align: left;
  font-size: 14px;
  color: var(--grey-color);
}

.modal-film-tab-header {
  width: 140px;
  height: 25px;
}

html[data-theme="light"] .modal-film-tab-header {
  color: var(--black-color);
}

/* @MEDIA DESKTOP */
@media screen and (min-width: 846px) {
  .modal-film-tab-header {
    width: 151px;
  }
}

.modal-film-tab-data {
  color: inherit;
}

html[data-theme="light"] .modal-film-tab-data {
  color: var(--black-color);
}


.modal-window-accent-vote {
  width: 100%;
  height: 16px;
  border-radius: 5px;
  background-color: var(--white-color);
  color: inherit;
  padding: 0 8px;
  margin-right: 7px;
}

html[data-theme="light"] .modal-window-accent-vote {
  background-color: var(--secondary-text);
}

.modal-window-accent-votes {
  width: 100%;
  height: 16px;
  border-radius: 5px;
  background-color: var(--white-color);
  color: inherit;
  padding: 0 4px;
  margin-left: 4px;
}

html[data-theme="light"] .modal-window-accent-votes {
  background-color: var(--secondary-text);
}


.modal-film-desc-about {
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--grey-color);
  margin-bottom: 12px;
}

html[data-theme="light"] .modal-film-desc-about {
  color: var(--black-color);
}

/* @MEDIA TABLET */
@media screen and (min-width: 704px) {
  .modal-film-desc-about {
    margin-bottom: 16px;
  }
}

/* @MEDIA DESKTOP */
@media screen and (min-width: 846px) {
  .modal-film-desc-about {
    font-size: 16px;
  }
}

.modal-film-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: var(--secondary-text);
  margin-bottom: 16px;
  width: 100%;
  max-height: 180px;
  overflow: auto;
}

html[data-theme="light"] .modal-film-desc {
  color: var(--black-secondary-color);
}

/* @MEDIA TABLET */
@media screen and (min-width: 704px) {
  .modal-film-desc {
    width: 301px;
    height: 140px;
    margin-bottom: 24px;
  }
}

/* @MEDIA DESKTOP */
@media screen and (min-width: 846px) {
  .modal-film-desc {
    width: 331px;
    height: 159px;
  }
}

#library-actions-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border-radius: 74px;
  width: 138px;
  height: 38px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--black-color);
}

html[data-theme="light"] #library-actions-btn {
  color: var(--black-secondary-color);
  background-color: var(--white-color);
}

#library-actions-btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  width: 140px;
  height: 40px;
  border-radius: inherit;
  background: linear-gradient(to top left, orangered, orange);
}
