.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-text {
  background-color: var(--black-color);
  width: 315px;
  height: 48px;
  padding: 12px;
  gap: 10px;
  border-radius: 8px;
  border: solid var(--white-color) 1px;
  opacity: 0;
  color: var(--grey-color);
}
.input-year {
  background-color: var(--black-color);
  width: 95px;
  height: 48px;
  border-radius: 8px;
  border: solid var(--white-color) 1px;
  opacity: 0;
  color: var(--grey-color);
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
}

.input-year option:checked {
  color: var(--orange-color);
  font-size: 24px;
  font-weight: 500;
}
.catalog-button {
  width: 48px;
  height: 48px;
  opacity: 0;
  border-radius: 50%;
  border: none;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  cursor: pointer;
}
