.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-movie-picture {
  width: 100%;
  height: 100%;
  display: block;
}

.catalog-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
}

@media (min-width: 321px) {
  .input-text {
    background-color: var(--black-color);
    width: 188px;
    height: 40px;
    padding: 12px;
    font-size: 14px;
    gap: 10px;
    border-radius: 8px;
    border: solid var(--white-color) 1px;
    color: var(--grey-color);
  }

  .input-year {
    background-color: var(--black-color);
    width: 95px;
    height: 40px;
    border-radius: 8px;
    border: solid var(--white-color) 1px;
    color: var(--grey-color);
    font-size: 14px;
    padding: 12px;
    font-weight: 500;
  }

  .input-year option:checked {
    color: var(--orange-color);
    font-size: 18px;
    font-weight: 500;
  }

  .catalog-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    cursor: pointer;
  }

  .catalog-sorry-message {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding: 48px 20px 40px 20px;
  }

  .catalog-movie-list {
    list-style: none;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 20px 20px;
  }

  .catalog-movie-list-item {
    position: relative;
    width: 280px;
    height: 406px;
  }

  .catalog-movie {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ffffff;
  }

  .catalog-movie-title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  .catalog-movie-genres {
    font-size: 12px;
  }

  .catalog-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .arrow-button {
    width: 20px;
    height: 20px;
    border: none;
  }

  .page-number-button {
    background-color: var(--black-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid var(--grey-color) 1px;
    color: var(--grey-color);
    font-size: 14px;
  }

  .page-number-button:active {
    background-color: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    color: var(--white-color);
    font-weight: 400;
    border: none;
  }
}

@media (min-width: 769px) {
  .input-text {
    background-color: var(--black-color);
    width: 188px;
    height: 44px;
    padding: 12px;
    font-size: 14px;
    gap: 10px;
    border-radius: 8px;
    border: solid var(--white-color) 1px;
    color: var(--grey-color);
  }

  .input-year {
    background-color: var(--black-color);
    width: 95px;
    height: 44px;
    border-radius: 8px;
    border: solid var(--white-color) 1px;
    color: var(--grey-color);
    font-size: 14px;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
  }

  .input-year option:checked {
    color: var(--orange-color);
    font-size: 18px;
    font-weight: 500;
  }

  .catalog-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    cursor: pointer;
  }

  .catalog-sorry-message {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 100px;
  }

  .catalog-movie-list {
    list-style: none;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 48px 0 40px;
  }

  .catalog-movie-list-item {
    position: relative;
    width: 224px;
    height: 325px;
    padding-bottom: 28px;
  }

  .catalog-movie {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: #ffffff;
  }

  .catalog-movie-title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  .catalog-movie-genres {
    font-size: 12px;
  }

  .catalog-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .arrow-button {
    width: 28px;
    height: 28px;
    border: none;
  }

  .page-number-button {
    background-color: var(--black-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid var(--grey-color) 1px;
    color: var(--grey-color);
  }

  .page-number-button:active {
    background-color: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    border: none;
  }
}
@media (min-width: 1281px) {
  .input-text {
    background-color: var(--black-color);
    width: 315px;
    height: 48px;
    padding: 12px;
    gap: 10px;
    border-radius: 8px;
    border: solid var(--white-color) 1px;
    color: var(--grey-color);
  }

  .input-year {
    background-color: var(--black-color);
    width: 95px;
    height: 48px;
    border-radius: 8px;
    border: solid var(--white-color) 1px;
    color: var(--grey-color);
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
  }

  .input-year option:checked {
    color: var(--orange-color);
    font-size: 24px;
    font-weight: 500;
  }

  .catalog-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    cursor: pointer;
  }

  .catalog-sorry-message {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 100px;
  }

  .catalog-movie-list {
    list-style: none;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 48px 0 40px;
  }

  .catalog-movie-list-item {
    position: relative;
    width: 395px;
    height: 574px;
    padding-bottom: 32px;
  }

  .catalog-movie {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ffffff;
  }

  .catalog-movie-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }

  .catalog-movie-genres {
    font-size: 20px;
  }

  .catalog-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .arrow-button {
    width: 28px;
    height: 28px;
    border: none;
  }

  .page-number-button {
    background-color: var(--black-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid var(--grey-color) 1px;
    color: var(--grey-color);
  }

  .page-number-button:active {
    background-color: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    border: none;
  }
}
