/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./weekly-cards.css');
@import url('./footer.css');
@import url('./modal-window.css');
@import url('./my-catalog.css');
@import url('./modal-window.css');
@import url('./upcoming-this-month.css');
@import url('scroll-to-top.css');
@import url('./library.css');

:root {
  --orange-color: #f87719;
  --black-color: #111111;
  --black-secondary-color: #282828;
  --grey-white-theme-color: #595959;
  --grey-color: #b7b7b7;
  --secondary-text: #f8f8f8;
  --white-color: #ffffff;
  --font-roboto: 'Roboto', sans-serif;
  --gradient-button-1: linear-gradient(45deg, #f87719, #f89f19);
  --gradient-button-2: linear-gradient(45deg, #f89f19, #f87719);

  font-family: var(--font-roboto);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  transition: background-color 1s, color 1s;
}

html[data-theme='dark'] {
  background-color: var(--black-color);
  color: var(--white-color);
}

html[data-theme='light'] {
  background-color: var(--white-color);
  color: var(--black-color);
}

.is-closed {
  display: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-visible {
  visibility: visible;
  opacity: 1;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.my-library-sorry-message {
  padding-top: 80px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .my-library-header {
    padding-left: 32px;
    font-size: 44px;
    width: 332px;
    line-height: 51.56px;
  }

  .my-library-paragraph {
    padding-left: 32px;
    width: 385px;
    font-size: 14px;
  }

  .genre-select {
    width: 144px;
  }

  .my-library-movie-list-item {
    width: 224px;
    height: 325px;
  }

  .my-library-movie {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
  }

  .my-library-sorry-message {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .my-library-background {
    height: 380px;
  }
  .my-library-header {
    padding-top: 40px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;
    width: 250px;
  }
  .my-library-paragraph {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    width: 280px;
  }
  .genre-select {
    width: 173px;
  }
  .my-library-movie-list-item {
    width: 280px;
    height: 408px;
  }
  .my-library-movie {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
  }
  .my-library-sorry-message {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    width: 280px;
    margin: auto;
  }
}
