.upcoming-text {
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 24px;
  border-radius: 5px;
}

.movie-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 12px;
}

.upcoming-img {
  margin-bottom: 24px;
  border-radius: 5px;
}

.about {
  margin-top: 20px;
  margin-bottom: 16px;
  color: var(--grey-color);
}

.overview {
  margin-bottom: 20px;
  color: #d9d9d9;
  font-size: 14px;
}

.relase-date {
  margin-left: 57px;
  color: var(--orange-color);
}

.vote-count {
  margin-left: 61px;
}

.genre {
  margin-left: 107px;
}

.popularity-value {
  margin-left: 77px;
  color: var(--white-color);
}

#library-btn {
  width: 140px;
  height: 38px;
  border-radius: 74px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  text-align: center;
  color: var(--black-color);
  position: relative;
  transition: all 0.2s;
  margin-bottom: 40px;
}

.detail-item {
  margin-bottom: 12px;
  color: var(--grey-color);
}

.genre-item {
  color: var(--grey-color);
}

.genre {
  color: var(--white-color);
}

.vote-count {
  margin-left: 62px;
  color: var(--black-color);
  background-color: var(--white-color);
  padding: 1px 8px 1px 8px;
  border-radius: 4px;
  margin-bottom: 12px;
}

@media (min-width: 1280px) {
  .upcoming-container {
    display: flex;
    gap: 16px;
  }

  .upcoming-text {
    font-size: 28px;
    margin-bottom: 28px;
  }

  .upcoming-movies {
    margin-bottom: 100px;
  }

  .movie-title {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 28px;
  }

  .relase-date {
    margin-left: 58px;
  }

  .vote-count {
    margin-left: 62px;
  }

  .popularity-value {
    margin-left: 78px;
  }

  .genre {
    margin-left: 108px;
    color: var(--white-color);
  }

  .about {
    margin-top: 20px;
    margin-bottom: 16px;
    color: var(--grey-color);
  }

  .overview {
    margin-bottom: 32px;
    color: #d9d9d9;
    font-size: 14px;
  }

  .genre-item {
    color: var(--grey-color);
  }

  .upcoming-img {
    border-radius: 5px;
    margin-bottom: 0;
  }

  #library-btn {
    width: 155px;
    height: 40px;
    border-radius: 74px;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    font-size: 14px;
    font-weight: 500;
    line-height: 14.06px;
    text-align: center;
    color: var(--black-color);
    position: relative;
    transition: all 0.2s;
  }

  #library-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  #library-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  #library-btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  #library-btn::after {
    background-color: #ffc226;
  }

  #library-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .movie-details {
    display: flex;
    flex-direction: column;
  }

  .info-item {
    display: flex;
    flex-direction: column;
  }

  .detail-item {
    margin-bottom: 12px;
    color: var(--grey-color);
    display: flex;
  }
}

/* @MEDIA TABLET */
@media (min-width: 768px) and (max-width: 1279px) {
  .upcoming-img {
    margin-bottom: 32px;
  }

  .movie-title {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .info-item {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }

  .detail-item {
    margin-bottom: 12px;
    color: var(--grey-color);
    display: flex;
  }

  .vote-count {
    margin-left: 62px;
  }

  .genre {
    margin-left: 108px;
    color: var(--white-color);
  }

  .genre-item {
    color: var(--grey-color);
  }

  #library-btn {
    width: 155px;
    height: 40px;
    border-radius: 74px;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    font-size: 14px;
    font-weight: 500;
    line-height: 14.06px;
    text-align: center;
    color: var(--black-color);
    position: relative;
    transition: all 0.2s;
    margin-bottom: 77px;
  }

  #library-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  #library-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  #library-btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  #library-btn::after {
    background-color: #ffc226;
  }

  #library-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .about {
    margin-top: 20px;
    margin-bottom: 16px;
    color: var(--grey-color);
  }

  .overview {
    margin-bottom: 32px;
    color: #d9d9d9;
    font-size: 14px;
  }

  .upcoming-text {
    font-size: 28px;
    margin-bottom: 24px;
    margin-top: 44px;
  }

  .popularity-value {
    margin-left: 78px;
    color: var(--white-color);
  }

  .relase-date {
    margin-left: 58px;
  }

  .movie-title {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
}
