/* .weekly-section .card {
  display: none;
} */

.card:first-child {
  display: block;
}

.weekly-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 43px 0 24px 0;
}
.weekly-text h2 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.weekly-text a {
  font-size: 16px;
  text-decoration: none;
  color: var(--orange-color);
}
#weekly-cards {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.card {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 406px;
  overflow: hidden;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  height: auto;
}
.card h2,
.card p {
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 12px;
}
.card h2 {
  margin: 10px 0 5px;
  text-align: center;
  text-transform: uppercase;
}

.card p {
  color: var(--grey-color);
  margin: 5px 0;
  text-align: center;
}

.card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.card-content h2 {
  text-align: left;
}

.card-content p {
  margin: 5px 0;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stars {
  display: inline-flex;
  align-items: center;
}

.star {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.1em;
}

.star.full use,
.star.half use {
  fill: url(#star-gradient);
}

.star.empty use {
  stroke: url(#star-gradient);
  fill: none;
}

@media screen and (min-width: 768px) {
  .weekly-text {
    margin: 52px 0 24px 0;
  }
  .weekly-text h2 {
    font-size: 24px;
  }
  .weekly-text a {
    font-size: 24px;
  }
  #weekly-cards {
    gap: 15px;
    flex-wrap: nowrap;
    margin-bottom: 34px;
  }
  .card {
    display: block;
    width: 224px;
    height: 325px;
  }

  .card h2,
  .card p {
    font-size: 12px;
  }
  .stars {
    margin-left: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .weekly-text {
    margin: 80px 0 28px 0;
  }
  .weekly-text h2 {
    font-size: 28px;
  }
  .weekly-text a {
    font-size: 28px;
  }
  #weekly-cards {
    gap: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  .card {
    display: block;
    width: 395px;
    height: 574px;
  }
  .card h2,
  .card p {
    font-size: 20px;
  }
  .card-content h2 {
    margin: 10px 0 5px 0;
    text-align: left;
  }
}
